.el
.last-package-update-day
.mc-lists.el
abbrev_defs
ac-comphist.dat
auto-save-list/
backups/
bak/
bookmarks
configuration.el
*.el~
elpa/
eshell/
ido.last
network-security.data
request/
url/
configuration.org~
